* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider-image {
  width: 1000px;
  height: 600px;
}
.slider-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
