* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider-image {
  width: 1000px;
  height: 500px;
  /* overflow: hidden; */
}
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 5;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
